{
	"presets": [["latest-node", { "target": "current" }], "@babel/preset-typescript"],
	"plugins": ["babel-plugin-replace-ts-export-assignment", "@babel/plugin-transform-typescript"],
	"sourceMaps": "inline",
	"retainLines": true
}
